# This file will be deprecated and moved to  pyproj.toml 
# to consolidate dependency spec in one file 
# furo==2021.11.16
sphinx>=8.0
sphinx-design
sphinx-argparse  
sphinxcontrib-bibtex
sphinx-autodoc-typehints  # For better type hint support in Sphinx
sphinx_rtd_theme
sphinx-click
ghp-import # for GitHub Pages import
nbsphinx
numpydoc
docutils
matplotlib # needed for matplotlib.sphinxext.mathmply
ipython    # neededd for IPython.sphinxext.ipython_directive
pip
shapely>=2.0
babel

# pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org -r .\requirements.txt