.wy-nav-content {
    max-width: 1200px !important;
}

/* Links */
a {
    color: #CA7900;
    text-decoration: none;
}
a:hover {
    color: #2491CF;
}

/* Side Menu Links */
.md-nav__item a {
    color: black;
}
.md-nav__item a:hover {
    color: #0d6396;
}